{%extends 'dashboard.html'%}
{%block contant%}
{%load static%}
<div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="row">
                    <!-- Column -->
                    <!-- Column -->
                    <!-- Column -->

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <form class="form-horizontal form-material"  enctype="multipart/form-data" method="POST" action="{%url 'umpsedPDF'%}" target="_blank">
                                    {%csrf_token%}
                                    <div class="row">
                                    <div class="form-group col-mb-6">
                                        <label class="col-md-12 p-0">MR From Date</label>
                                        <div class="col-md-6 border-bottom p-0">
                                            <input type="date" placeholder="From Date"
                                                class="form-control p-0 border-0" name="fdate"> </div>
                                    </div>
                                    <div class="form-group col-mb-6">
                                        <label class="col-md-6 p-0">MR TO Date</label>
                                        <div class="col-md-6 border-bottom p-0">
                                            <input type="date" placeholder="To Date"
                                                class="form-control p-0 border-0" name="tdate"> </div>
                                    </div>
                                    </div>
                                    <div>
                                        <button type="submit" class="btn btn-success"><i class="fa fa-print" aria-hidden="true" > Print</i></button>
                                        <button class="btn btn-success" hx-post="{%url 'umpsedp'%}" hx-target="#abc"  hx-encoding="multipart/form-data" >Submit</button>
                                    </div>



                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->

                <div class="abc">
                    <table class="table table-bordered">
      <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Branch Code</th>
      <th scope="col">Branch Name</th>
      <th scope="col">MR Number</th>
      <th scope="col">MR Date</th>
      <th scope="col">Class Insurance</th>
      <th scope="col">Insured Name</th>
      <th scope="col">Mode Of Payment</th>
      <th scope="col">Cover Note No.</th>
      <th scope="col">Policy No.</th>
      <th scope="col">Addendum No.</th>
      <th scope="col">Endorsement No.</th>
      <th scope="col">Net</th>
      <th scope="col">Vat</th>
      <th scope="col">Stamp</th>
      <th scope="col">Others</th>
      <th scope="col">Gross</th>
      <th scope="col">MR URL</th>
    </tr>
  </thead>
      <tbody id="abc">
{%for (mrSerialNumber, officeBranchCode, officeBranchName, mrNumber, mrDate, classInsurance, insuredName, insuredAddress, insuredMobile, insuredEmail, modeOfPayment, paymentDetail, coverNoteNumber, policyNumber, addendumNumber, endorsementNumber, netPremium, vat, stamp, others, totalPremium, chequeDrawnOn, chequeDate, depositDate, depositedToBank, depositedToBranch, depositedToAccountNumber, mfs, mfsAccountNumber, isCoInsurance, isLeader, financingBankName, financingBankAddress, financingBankEmail, financingBankMobile, isMultiDocument, multiDocuments, currency, leaderDocument, paymentReceivedFrom, serviceCharge, coInsurerPremiumAmount, bankGuaranteeNumber, requeston, responseon, response, mrURL, umpStatus, depositStatus) in myresults%}

    <tr>
<th scope="row" >{{forloop.counter}}</th>
      <td>{{officeBranchCode}}</td>
      <td>{{officeBranchName}}</td>
      <td>{{mrNumber}}</td>
      <td>{{mrDate}}</td>
      <td>{{classInsurance}}</td>
      <td>{{insuredName}}</td>
      <td>{{modeOfPayment}}</td>
      <td>{{coverNoteNumber}}</td>
      <td>{{policyNumber}}</td>
      <td>{{addendumNumber}}</td>
      <td>{{endorsementNumber}}</td>
      <td>{{netPremium}}</td>
      <td>{{vat}}</td>
      <td>{{stamp}}</td>
      <td>{{others}}</td>
      <td>{{totalPremium}}</td>
      <td><a href="{{mrURL}}" target="_blank">{{mrURL}}</a></td>
</tr>
      {%endfor%}
  </tbody>
</table>
                </div>
            </div>

{%endblock%}